// Color Variables 

$base-gray: #777;
$base-white: #fff;

$base-turquoise: #58e1c1;
$lightblue: #51ddfc;

$darker-purple: #927bc1;
$peach-pink: #e4757a;

// Media Breakpoint

$break-m: 768px; 
$max-width: 1400px;

// Display 

$base-display: block;

// Font Stack

$primary-font-family: 'Lato', sans-serif;